.search1
{
background:url('../img/search_box1.png') no-repeat ; 
background-position:center; 
background-size: 100% 100%;
z-index:999;
padding:0 0 0 0;
width: 43.6%;
height: 45.8%;
margin: 14% auto;
}

.input1
{
height: 20.5%;
min-height:25px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border:0px;
position:relative;
padding:5px;
margin: 13.5% 0 13.5% 5%;
width: 49%;
}


.post_job
{
width: 20%;
cursor: pointer;
float: right;
height: 100%;
padding: 40px;
margin-top: 13%;
}


