#header{
display:block;
right:20px;
top:0px;
position:absolute;
padding-top:20px;
width:250px;

}

/*		Buton Login		*/
#login {
background-color:white;
border-radius:50%;
border-style:dashed;
border-color:#e77c22;
border-width:4px;
width:119px;
height:60px;
color:#e77c22;
font-size:148%;
letter-spacing:2px;
margin-right:5px;
outline:none;
}

#login:hover{
background-color:#e77c22;
color:white;
}

/*		Buton SignUp	*/
#signUp{
background-color:white;
border-radius:50%;
border-style:dashed;
border-color:#cad1cf;
border-width:4px;
width:119px;
height:60px;
font-size:148%;
color:#cad1cf;
letter-spacing:2px;
outline:none;
}

#signUp:hover{
background-color:#cad1cf;
color:white;
}

/*		MENU		*/
/*
#menu{position:relative;}*/
/*#menu div{display:;}*/

/*		BULINE		BULINE		BULINE		*/

#buttons
{margin:0 auto;
width:100%;
z-index:-1;

}

#b1:active{background-image:url("../img/buton_activ/Bulina_Banner_1.png");}
#b1:active{background-image:url("../img/buton_activ/Bulina_Banner_1.png");}
#b1:active{background-image:url("../img/buton_activ/Bulina_Banner_1.png");}

#b1{
background-image:url("../img/buton_inactiv/bulina_STAND_BY_faraLiniuta_1.png");
background-color:white;
background-repeat:no-repeat;
width:30%;
margin:auto;
height:149px;
outline:none;
border:none;
z-index:-1;
}
#b2{
background-image:url("../img/buton_inactiv/bulina_STAND_BY_faraLiniuta_2.png");
background-color:white;
background-repeat:no-repeat;
width:30%;
margin:auto;
height:149px;
outline:none;
border:none;
z-index:-1;
}
#b3{
background-image:url("../img/buton_inactiv/bulina_STAND_BY_cuLiniuta_3.png");
background-color:white;
background-repeat:no-repeat;
width:30%;
margin:auto;
height:149px;
outline:none;
border:none;
z-index:-1;
}

#b1:hover{background-image:url("../img/buton_hover/bulina_1_Hover.png");}
#b2:hover{background-image:url("../img/buton_hover/bulina_2_Hover.png");}
#b3:hover{background-image:url("../img/buton_hover/bulina_3_Hover.png");}

/*		BANNERE		BANNERE		BANNERE		*/

#bannere div{
top:0px;
left:0px;
z-index:1;
margin-top:-1%;
}

#banner1{
background-image:url("../img/Banner_albastru_stanga.jpg");
background-repeat:no-repeat;
width:100%;
height:100%;
visibility:hidden;

}
#banner2{
background-image:url("../img/Banner_principal.jpg");
background-repeat:no-repeat;
width:100%;
height:374px;
z-index:2;
}

#banner3{
background-image:url("../img/Banner_portocaliu_dreapta.jpg");
width:100%;
height:100%;
visibility:hidden;
}


#searchButton
{
background-image:url("../img/lupa.png");
background-size:50% 50%;
background-repeat:no-repeat;
background-position:center;
width:30%; 
height:100%;
margin-left:35%;


}
#searchButton:hover{background-image:url("../img/lupa_hover.png");}




/*		BULINUTE	*/

#dot{margin:0 auto;width:60px;margin-top:33.1%;}
#dot div{display:-webkit-inline-box;width:15px;height:15px;background-color:#cad1cf;border-radius:100%;}

/*		ANUNTURI	ANUNTURI	ANUNTURI	*/

#anunturi{margin:0 auto;width:1800px;}
#anunturi div{display:-webkit-inline-box;}

#anunt{
width:450px;
height:135px;
background-color:#ead683;

border-bottom-left-radius:100px;
border-bottom-right-radius:80px;
border-top-left-radius:100px;
border-top-right-radius:80px;
margin-left:6%;
}


